
.login-container{
    position: relative;
    width: 350px;
    margin: 60px auto;
    padding: 20px 30px 30px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 1px solid #aaa;
    background-size: cover;
}
body {
  padding-top: 50px;
}
.main-container {
  padding: 40px 15px;
}
.skyblue {
	background-color: #22c8ff;
}
.deepskyblue {
	background-color: #333333;
}
.darkerskyblue {
	background-color: #00a6dd;
}
.carousel-indicators {
	bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
	background-image: none;
}
.carousel .item {
	min-height: 350px;
	height: 100%;
	width:100%;
}
.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
	background-color: #09c;
}
.carousel-caption h3 {
	padding: .5em;
}
.carousel .icon-container {
	display: inline-block;
	font-size: 25px;
	line-height: 25px;
	padding: 1em;
	text-align: center;

	border-radius: 50%;
}
.carousel-caption button {
	border-color: #00bfff;
	margin-top: 1em;
}

.carousel-caption h3:first-child {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.carousel-caption h3:nth-child(2) {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}
.carousel-caption button {
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
}

#flipkart-navbar {
  background-color: #333333; /* 2B2B2B */
  color: #FFFFFF;
}

.row1{
  padding-top: 2px;
}

.row2 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.flipkart-navbar-input {
  padding: 8px 16px;
  border-radius: 2px 0 0 2px;
  border: 0 none;
  outline: 0 none;
  background-color: #fff;
  border: 1px solid #FDD100;
  color: #636363;
  font-size: 15px;
}

.flipkart-navbar-button {
  background-color: #FDD100;
  border: 1px solid #FDD100;
  border-radius: 0 2px 2px 0;
  color: #fff;
  padding: 6px 0;
  height: 39px;
  cursor: pointer;
}

.cart-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 8px;
}

.item-number {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, .1);
  height: 20px;
  padding: 3px 6px;
  font-weight: 500;
  display: inline-block;
  color: #fff;
  line-height: 12px;
  margin-left: 10px;
}

.upper-links {
  display: inline-block;
  padding: 0 11px;
  line-height: 23px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0;
  color: inherit;
  border: none;
  outline: none;
  font-size: 12px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 0px;
}

.dropdown:hover {
  background-color: #fff;
}

.dropdown:hover .links {
  color: #000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  display: none;
  background-color: #fff;
  color: #333;
  left: 0px;
  border: 0;
  border-radius: 0;
  box-shadow: 0 4px 8px -3px #555454;
  margin: 0;
  padding: 0px;
}

.links {
  color: #fff;
  text-decoration: none;
}

.links:hover {
  color: #fff;
  text-decoration: none;
}

.profile-links {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid #e9e9e9;
  box-sizing: border-box;
  display: block;
  padding: 0 11px;
  line-height: 23px;
}

.profile-li{
  padding-top: 6px;
}

.largenav {
  display: none;
}

.smallnav{
  display: block;
}

.smallsearch{
  margin-left: 15px;
  margin-top: 15px;
}

.menu{
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .largenav {
      display: block;
  }
  .smallnav{
      display: none;
  }
  .smallsearch{
      margin: 0px;
  }
}

/*Sidenav*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 0 4px 8px -3px #555454;
  padding-top: 10px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
  transition: 0.3s
}

.sidenav .sidenavbot{
  width: 100%;
  background-color: #333333;
  padding: 8px 0px 8px 0px;
  position: absolute;
  bottom: 0;
}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background-color: #333333; /*1F2125*/
  /* background: url(../img/footer.png) center bottom ; */
}

.bofooter {
  bottom: 0;
  width: 100%;
  height: 10px;
  background-color: #FDD100; /*1F2125*/
}

.title-arch {
  text-align: center;
  margin: 20px 0;
  font-size: 16px;
}

.proimage {
  width: 100%;
  height: 240px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.card {
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-text {
  clear: both;
  margin-top: .5em;
  color: rgba(0, 0, 0, .68);
}

.card-footer {
  font-size: 1em;
  position: static;
  top: 0;
  left: 0;
  max-width: 100%;
  padding: .75em 1em;
  color: rgba(0, 0, 0, .4);
  border-top: 1px solid rgba(0, 0, 0, .05) !important;
  background: #fff;
}

.project {
  background-size: cover;
  background-position: center;
  padding: 5px 10px !important;
  float:left;
}

.project-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: rgba(0, 191, 255, 0.7);
  padding: 5% 20px !important;
}

.project:hover .project-hover {
  opacity: 1;
}
